[submodule "pmp-fe-api"]
	path = pmp-fe-api
	url = https://github.com/paolo-chiabrera/pmp-fe-api.git
[submodule "pmp-fe-preact"]
	path = pmp-fe-preact
	url = https://github.com/paolo-chiabrera/pmp-fe-preact.git
